<div class="card">
    <img class="card-img" src="https://loremflickr.com/320/240/coding?random={{this.id}}" alt="coding">
    <div class="card-body">
        <h2 class="card-title">{{this.name}}</h2>
        <p class="card-text">{{this.description}}</p>

        <form action="{{this.html_url}}" , method='GET' target="_blank">
                <button class="card-button">Link to Repo</button> </form>
        {{!-- <form action="{{this.html_url}}" , method='GET' target="_blank">
            <div class="bottom-button">Go to the Repo</div>
        </form> --}}


    </div>
</div>