<div class="card">
    <img class="card-img" src="https://loremflickr.com/320/240/computer?random={{this.id}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{this.name}} {{ this.lastName}}</h5>
        <p class="card-text">{{this.description}}</p>
        <form action="{{this.html_url}}", method='GET' target="_blank">
        <button class="btn align-text-bottom btn-outline-light">Link to Repo</button> </form>
    </div>
</div>
